* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 768px) {
    body {
        width: fit-content;
    }
}

/* .table-cell {
  display: inline;
  max-width: fit-content;
}

.action-btn {
  display: flex;
  justify-content: space-around;
} */

/* .horizontal-line {
    width: 100%;
    border: 1px solid black;
} */

/* .container { */
/* min-height: "100vh"; */
/* display: "flex"; */
/* flex-direction: "column"; */
/* align-items: "center"; */
/* } */
/*  */
/* .header { */
/* ...shorthands.gap('6px'), */
/* margin: "20px"; */
/* border: "2px solid"; */
/* color: "red"; */
/* } */
/*  */
/* .button { */
/* ...shorthands.gap("20px"), */
/* max-width: "fit-content"; */
/* } */
